{% extends 'base.html' %}
{% block title %}
    <title>Update</title>
{% endblock title %}
{% block body %}
<div class="container my-3">
    <h2>{{ reqTodo.title }}</h2>
    <form action="/update/{{ reqTodo.sno }}" method="POST">
        <div class="mb-3">
            <label class="form-label">TODO Title</label>
            <input type="text" class="form-control" name="title" value={{reqTodo.title}} id="title">
        </div>
        <div class="mb-3">
            <label class="form-label">TODO Description</label>
            <input type="text" class="form-control" name='desc' value={{reqTodo.desc}} id="desc">
        </div>
        <div class="mb-3">
            <label class="form-label">TODO Description</label>
            <input type="datetime" class="form-control" name='date_created' value={{reqTodo.date_created}} id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}